@import url('styles.css');

.container {
    display: inline;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); /* Üst bilgi kısmı için yer bırakmak */
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.212);
}

.fixed-box {
    width: 640px; /* Sabit genişlik */
    text-align: center;
    margin-bottom: auto;
}

.photo img {
    max-width: 300px;
    border-radius: 10px;
}
.about-text {
    font-size: 20px;
    max-width: 600px;
    margin: 20px;
    text-align: justify;
    text-indent: 10px;
}

.hakkinda {
    text-align: center;
}