@import url('styles.css');

/* Ana Sayfa için özel stiller */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.089);
}

.fixed-box {
    width: 640px; /* Sabit genişlik */
    text-align: center;
}
.fixed-box h1 {
    font-size: 4em; /* Büyük font boyutu */
    margin-bottom: 20px;
}
.fixed-box p {
    font-size: 1.5em;
    margin-top: 0;
}

.projects { 
    width: 100%; 
    max-width: 1200px; /* Daha geniş bir alan belirliyoruz */
    margin-top: 50px; 
    padding: 20px; /* İçerik ile kenarlar arasına boşluk ekliyoruz */
} 

.project-cards { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px;
    width: 100%;
} 

.project-card { 
    background: rgba(255, 255, 255, 0.1); 
    padding: 20px; 
    border-radius: 10px; 
    width: calc(33.33% - 20px); /* 3 kart için genişliği %33.33 olarak ayarlıyoruz */
    width: 250px; /* Kartın minimum genişliğini ayarlıyoruz */
    text-align: center; 
    transition: transform 0.3s, background-color 0.3s; 
} 

.project-card:hover { 
    transform: translateY(-1px);
    background: rgba(255, 255, 255, 0.2); 
}

.image-container { 
    background-color: #b2ebf2; 
    border-radius: 50%; 
    overflow: hidden; 
    width: 120px; 
    height: 120px; 
    margin: 0 auto 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.image-container img { 
    width: 100%; 
    height: auto; 
}

h3 { 
    color: #ffffff; 
    margin: 20px 0;
}

.button-link { 
    display: inline-block; 
    background-color: #178cda; 
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
} 

.button-link:hover { 
    background-color: #1365c4; 
}

@media (max-width: 768px) {
    .project-card {
        width: calc(50% - 20px); /* Ekran küçük olduğunda 2 kart */
    }
}

@media (max-width: 480px) {
    .project-card {
        width: 100%; /* Mobil ekranlarda 1 kart */
    }
}
