@import url('/anasayfa/styles.css');



body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Sayfa arkaplan rengi */
    color: #333;
    line-height: 1.6;
}

/* Proje grid düzeni */ 
.projects-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Dinamik kolonlar */ 
    gap: 1.5rem; 
    padding: 2rem; 
    max-width: 1200px; 
    margin: 0 auto; }

/* Her proje kartını 3'erli yan yana sıralamak için genişlik ayarı */
.project-card { 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.project-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 1rem;
}

.project-card p {
    font-size: 1rem;
    color: #666;
    margin: 0 1rem 1rem;
}

button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin: 0.5rem;
}

button:hover {
    background-color: #005fa3;
}



/* Dar ekranlarda 2 sütuna düşürme */
@media (max-width: 900px) {
    .project-card {
        flex: 1 1 calc(50% - 1.5rem); /* 2 sütun */
    }
}

/* Mobil ekranlarda tek sütuna düşürme */
@media (max-width: 600px) {
    .project-card {
        flex: 1 1 100%; /* Tek sütun */
    }
}