@import url('/anasayfa/styles.css');

.container {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: calc(100vh - 100px); /* Üst bilgi kısmı için yer bırakmak */
    max-width: 640px; /* Sabit genişlik */
    border-radius: 10px;
}

.contact-section {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff1e;
}
  
.contact-section h2 {
    text-align: center;
    color: #333;
}
  
.contact-section label {
    display: block;
    margin-top: 30px;
    color: #000000;
    text-align: start;
}
  
.contact-section input, .contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff4f;
}
  
.contact-section textarea {
    resize: vertical;
    min-height: 100px;
    color: #000000;
}
  
textarea#message{
    height: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
}input#email,#name{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section button {
    width: 100%;
    padding: 12px;
    background-color: #317dbb;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
  
.contact-section button:hover {
    background-color: #2569a0;
}

.social-footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff1e;
    border-radius: 10px;
    margin-top: 120px;
}
  
.social-icon {
    width: 40px; /* Simge boyutunu ayarlar */
    margin: 0 10px; /* Simgeler arasındaki boşluk */
    transition: transform 0.3s ease; /* Hover efekt için geçiş */
}
  
.social-icon:hover {
    transform: scale(1.1); /* Üzerine gelindiğinde büyüme efekti */
    filter: brightness(1.2); /* Renk parlaklığını artırır */
}
  
.social-link i {
    font-size: 40px;
    color: rgba(28, 94, 194, 0.767);
    margin: 0 54px;
    transition: color 0.3s ease;
}
  
.social-link i:hover {
    color: #1da1f2; /* Hover için renk değiştir */
}
